version: '3.7'

services:
      redis:
        image: 'redis:latest'
        container_name: 'chat-py-redis'
        ports:
          - "6379:6379"
        environment:
          - ALLOW_EMPTY_PASSWORD=yes

      server:
        image: 'chat-py'
        build: .
        container_name: 'chat-py-server'
        ports:
          - "8000:8000"
        environment:
          - HOST=127.0.0.1
          - PORT=8000